<%= page_header('New Game') %>

<div class="row">
  <div class="col-md-12">
    <div class="panel panel-dark panel-success">

      <div class="panel-heading entity-view-header">
        <span class="panel-title entity-view-title">
          <i class="panel-title-icon fa fa-cutlery"></i>
          <span id="view_title_text" class="text-bg">This is a new game</span>
        </span>
      </div>


    </div>
  </div>
  <%= form_for @game do |f| %>
  <%= button_tag class: "btn btn-primary btn-labeled pull-right", data:{disable_with: "<i class='fa fa-refresh fa-spin'>
</i> Hosting..."}, title: "Host" do %>
      <i class="btn-label icon fa fa-check"></i> Host Game
  <% end %>
      <%= link_to join_games_path, class: "btn btn-normal btn-grey btn-labeled pull-right cancel" do %>
          <i class="btn-label icon fa fa-pencil"></i> Join Game
      <% end %>
      <% end %>


</div>