<%= page_header('New Game') %>

<div class="row">
  <div class="col-md-12">
    <div class="panel panel-dark panel-success">

      <div class="panel-heading entity-view-header">
        <span class="panel-title entity-view-title">
          <i class="panel-title-icon fa fa-cutlery"></i>
          <span id="view_title_text" class="text-bg">This is a new game</span>
        </span>
      </div>


    </div>
  </div>
</div>