playing game <%= @game.id %>

<div class="game-map">

</div>
<script>
    $( document ).ready(function(){
      var player_tile = '';
      var map = '<%= @game.map%>';
      map = map.split('n');

      var tableString = '<table style="border: 0px; padding: 0px; margin: 0px; border-spacing: 0px;">';

      var row = 0;
      var col = 0;
      map.forEach(function(e){
          col = 0;
          tableString += '<tr id="row-' + row + '" style="border: 0px; padding: 0px; margin: 0px;">';
          rowDetails = e.split('');
          rowDetails.forEach(function(r){
              switch(r){
                  case '0':
                      tableString += '<td data-x="' + col + '" data-y="' + row + '" id="cell-' + row + '-' + col++ + '" class="game-wall" style="height: 50px; width: 50px; background-color: #000000;">&nbsp;</td>';
                      break;
                  case 'p':
                      player_tile = 'cell-' + row + '-' + col;
                      tableString += '<td data-x="' + col + '" data-y="' + row + '" id="cell-' + row + '-' + col++ + '" class="game-open game-open-1" style="height: 50px; width: 50px; background-color: #FFFFFF;">P</td>';
                      break;
                  case '1':
                      //tableString += '<td data-x="' + col + '" data-y="' + row + '" id="cell-' + row + '-' + col++ + '" class="game-open game-open-' + r + '" style="height: 50px; width: 50px; background-color: #FFFFFF; background-image: url(\'/assets/1_center_blank.png\')">&nbsp;</td>';

                  default:
                      tableString += '<td data-x="' + col + '" data-y="' + row + '" id="cell-' + row + '-' + col++ + '" class="game-open game-open-' + r + '" style="height: 50px; width: 50px; background-color: #FFFFFF;">&nbsp;</td>';
                      break;
              }
          });
          tableString += '</tr>';
          row++;
      });
      tableString += '</table>';

      $('.game-map').html(tableString);
      player_tile = $("#" + player_tile);
      $('.game-open-1').css('background-image', 'url("/assets/1_center_blank.png")');
      $('.game-open-2').css('background-image', 'url("/assets/2_North_wall.png")');
      $('.game-open-3').css('background-image', 'url("/assets/3_East_wall.png")');
      $('.game-open-4').css('background-image', 'url("/assets/4_South_wall.png")');
      $('.game-open-5').css('background-image', 'url("/assets/5_West_wall.png")');
      $('.game-open-6').css('background-image', 'url("/assets/6_NorthWest_corner.png")');
      $('.game-open-7').css('background-image', 'url("/assets/7_NorthEast_corner.png")');
      $('.game-open-8').css('background-image', 'url("/assets/8_SouthEast_corner.png")');
      $('.game-open-9').css('background-image', 'url("/assets/9_SouthWest_corner.png")');
      $('.game-open').css('background-repeat', 'no-repeat');
      $('.game-open').css('background-size', '100% 100%');


        $('td').click(function(){
          if($(this).hasClass('game-open'))
          {
              if(player_tile != '')
                player_tile.text('');
              player_tile = $(this);
              player_tile.text("P");
          }
          console.log($(this).attr('id'));
      });
  });
</script>